# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ibas packages
*/src/main/webapp/3rdparty/ibas
*/src/main/webapp/3rdparty/openui5
*/src/main/webapp/3rdparty/shell
*/src/main/webapp/modules/

# files
*_log_*.txt
*.tmp
*.class
*.js
*.glf
*.map
*.d.ts

# work folder
/target/
/release/
/.vs/
/.vscode/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/0a367f11-3aff-4398-87a1-ad544a797812.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/1a69c3ed-451c-4f87-aa2d-8629d78535da.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/9f92beac-1943-461e-adf2-72352144873e.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/55c14aaa-85d9-47c1-ac38-336c1468e972.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/83f1c85d-3427-444b-861b-819a92313645.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/0777c8cb-8836-40ce-9463-3a98ee55fd0c.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/1012f333-bab7-4312-99a1-797346a0e053.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/bc574b27-8acd-41ac-97e1-a7cdeac5b475.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/ce63d7b4-575f-4fc8-9fe4-3fa06548a455.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/e2d77e32-976f-481a-988a-60cbb7512690.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/e43a80f0-6dc8-4bd0-be70-c4d16b98803a.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/data/example_files/eceb9def-bc87-4e76-bb26-b0d97adf2681.xml
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/logs/ibas_runtime_20190702_001.log
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/logs/ibas_runtime_20190704_001.log
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/logs/ibas_runtime_20190702_001.log
ibas.example.service/target/ibas.example.service-0.1.0/WEB-INF/logs/ibas_runtime_20190702_001.log
